<form class="form-signup col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h3> Recover your password </h3>

    <md-input-container class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        <!--<label for="inputEmail" class="sr-only">Email address</label>-->
        <input name="text_username" [(ngModel)]="userName" mdInput type="email" class="form-control" placeholder="Email address" required="" autofocus="">
    </md-input-container>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Get Link to reset password</button>
    <p>Not having an account?
        <a href="#/auth/register">Sign up</a>
    </p>
</form>